body {
    background-color: #1a1a1a;
    font-family: 'Times New Roman', serif;
    color: #333;
    text-align: center;
}

h1 {
    color: #990000;
    font-size: 36px;
    font-style: italic;
}

.lyrics-container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lyrics {
    font-size: 20px;
    line-height: 1.6;
    font-style: italic;
    color: #444;
}

